body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
html {
  scroll-behavior: smooth;
}
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.bg-purple {
  background-color: #717fe0;
  color: white;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

img {
  width: 100%;
}

.lblCartCount {
  font-size: 12px;
  background-color: #717fe0;
  color: #fff;
  vertical-align: top;
  top: 5px;
}

.label1 {
  position: relative;
}

.label1::after {
  content: attr(data-label1);
  font-family: Poppins-Regular;
  font-size: 10px;
  line-height: 15px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display: block;
  position: absolute;
  top: 2px;
  right: 10px;
  height: 15px;
  min-width: 32px;
  border-radius: 7px;
  background-color: #f74877;
}

.modal.right .modal-dialog {
  position: fixed;
  margin: 0 auto;
  width: 320px;
  height: 550px;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto !important;
}

.modal.right.fade .modal-dialog {
  right: 0;
  top: 80px;
}

@media only screen and (max-width: 600px) {
  .h1-responsive {
    font-size: 30px;
  }
}

.text-purple {
  color: #717fe0;
}
.bg-purple {
  background-color: #717fe0;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
img {
  width: 100%;
}
/*==========================================================*/
.info {
  box-shadow: 0 0 10px;
}

.navbar {
  overflow: hidden !important;
}
.oldprice {
  text-decoration: line-through;
}
.addto .border {
  border-radius: 50%;
  background-color: #717fe0;
}

.addto:hover .border {
  background: green;
}

.prevslide img {
  width: 12% !important;
}

.nextslide img {
  width: 12% !important;
}
.carousel-item .border {
  border-color: #717fe0 !important;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 50%;
}
#myBtn:hover {
  background-color: #717fe0;
}
#myBtn i {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
#myBtn:hover i {
  color: white;
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

#hotfeatures span {
  position: absolute;
  animation-duration: 2s;
  animation-name: bounce;
  animation-iteration-count: infinite;
}
.featuresbag:hover i {
  color: #717fe0;
}
#select {
  outline: none;
}
#searchCard {
  outline: none;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@media (max-width: 768px) {
  .border-right {
    border-right: 0px !important;
  }
  .prevslide img {
    width: 30% !important;
  }
  .nextslide img {
    width: 30% !important;
  }
}

/* ======= ALL PRODUCTS  SECTION CSS ======= */

.addtocart .imgbutton {
  z-index: 10;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  visibility: hidden;
}
.addtocart .imgtext {
  z-index: 10;
  visibility: hidden;
}

.addtocart .imgbutton button {
  border: 2px solid;
  border-color: #717fe0;
  color: white;
}

.addtocart:hover img {
  filter: brightness(20%);
  z-index: 1;
}
.addtocart:hover .imgbutton {
  visibility: visible;
  animation-name: bounce;
  -moz-animation-name: bounce;
}
.addtocart:hover .imgtext {
  visibility: visible;
}
.addtocart .imgbutton .btn:hover {
  background-color: #717fe0;
}

a:visited,
a:link,
a:active {
  text-decoration: none;
}

img {
  width: 100%;
}

/* BRANDS HOVER EFFECT */
.brands {
  transition: transform 1s, opacity 1s ease-in-out;
  transform-origin: center center;
  opacity: 0.5;
}

.brands:hover {
  opacity: 1;
  transform: scale(1.2);
}

.submitinput::placeholder {
  color: white;
}
.submitinput:-ms-input-placeholder {
  color: white;
}
.submitinput::-ms-input-placeholder {
  color: white;
}
/* BRANDS HOVER EFFECT */

.help li:hover a {
  color: orange !important;
}
.questions li span i {
  color: orange !important;
}
/* Social app buttons */
div .socialicons .icon a {
  text-decoration: none;
  display: absolute;
  display: inline-block;
  width: 170px;
  height: 70px;
  background: whitesmoke;
  text-align: left;
  padding-left: 15px;
  -webkit-transform: rotate(-30deg) skew(25deg) translate(0, 0);
  transform: rotate(-30deg) skew(25deg) translate(0, 0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
  box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
}

div .socialicons .icon a .fab {
  font-size: 40px;
  color: #262626;
  line-height: 67px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-right: 10px;
}

div .socialicons .icon a span {
  position: absolute;
  top: 24px;
  color: #262626;
  letter-spacing: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

div .socialicons .icon a::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #b1b1b1;
  -webkit-transform: 0.5s;
  transform: 0.5s;
  -webkit-transform: rotate(0deg) skewY(-45deg);
  transform: rotate(0deg) skewY(-45deg);
}

div .socialicons .icon a::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #b1b1b1;
  -webkit-transform: 0.5s;
  transform: 0.5s;
  -webkit-transform: rotate(0deg) skewX(-45deg);
  transform: rotate(0deg) skewX(-45deg);
}

div .socialicons .icon a:hover {
  -webkit-transform: rotate(-30deg) skew(25deg) translate(20px, -5px);
  transform: rotate(-30deg) skew(25deg) translate(20px, -5px);
  -webkit-box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}

div .socialicons .icon:hover a .fab {
  color: #fff;
}

div .socialicons .icon:hover a span {
  color: #fff;
}

div .socialicons .icon:hover .i1 a {
  background: #3b5998;
}

div .socialicons .icon:hover .i1 a::before {
  background: #365492;
}

div .socialicons .icon:hover .i1 a::after {
  background: #4a69ad;
}

div .socialicons .icon:hover .i2 a {
  background: #dd081ae0;
}

div .socialicons .icon:hover .i2 a::before {
  background: #dd081ae0;
}

div .socialicons .icon:hover .i2 a::after {
  background: #dd081ae0;
}

div .socialicons .icon:hover .i3 a {
  background: #e4405f;
}

div .socialicons .icon:hover .i3 a::before {
  background: #d81c3f;
}

div .socialicons .icon:hover .i3 a::after {
  background: #e46880;
}
/*# sourceMappingURL=social.css.map */
